.gituser__page {
  display: flex;
  min-height: 100vh;
  margin-bottom: 3rem;
  flex-direction: column;
  .gituser__section {
    display: flex;
    flex-direction: column;
    overflow: auto;
    .gituser__header {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      background-color: #f4ede4;
      border-bottom: 1px solid #dfdfdf;
      padding: 2rem 0;
      z-index: 0;
      min-height: calc(40vh);
      padding: 2rem 0 10rem 0;
      @media only screen and (min-width:768px) {
        min-height: calc(30vh);
        padding: 2rem 0 7rem 0;
      }
      .gituser__left {
        @media only screen and (min-width: 1201px) {
          min-height: calc(40vh);
          padding: 2rem 0 10rem 0;
          flex: 0 1 40%;
          background: url('../../images/img2.jpg') no-repeat center top;
          will-change: transform;
          background-size: contain;
          z-index: 1;
        }
      }
      .gituser__intro {
        flex: 1 1 auto;
        padding: 0 1rem;
        @media only screen and (min-width: 1201px) {
          flex: 0 1 45%;
          display: flex;
          z-index: 1;
          align-items: flex-start;
          flex-direction: column;
        }
        h1 {
          font-size: 2rem;
          text-align: center;
          letter-spacing: 1px;
          color: #E65100;
          @media only screen and (min-width:768px) {
            border-bottom: 1px solid #ff3c00;
            font-size: 2.5rem;
          }
          @media only screen and (min-width: 1201px) {
            color: #1a7a7d;
            text-align: left;
            width: 50%;
            border-bottom: 1px solid #009688;
          }
        }
        .gituser__info {
          display: flex;
          position: relative;
          flex-direction: column;
          align-items: center;
          flex: 0 1 auto;
          @media only screen and (min-width: 1201px) {
             align-items: flex-start;
          }
          h3 {
            margin: .5rem 0;
            font-weight: 600;
            font-size: 1.15rem;
            text-align: center;
            span {
              display: none;
              @media only screen and (min-width: 1201px) {
                color: #9E9E9E;
                font-weight: 600;
                font-size: 1rem;
                display: inline-block;
                width: 100px;
                text-align: left;
                margin-right: .5rem;


              }
            }
          }

        }

      }//gituser__intro

      .gituser__right {
          display: none;
          @media only screen and (min-width: 1201px) {
            display: flex;
            flex: 0 1 12%;
          }
          img {
            position: absolute;
            right: 15%;
            top: 2%;
            margin: 0;
            padding: .5rem;
            z-index: 2;
            background-size: cover;
            margin-right: 7rem;
            border: 107px solid transparent;
            border-radius: 50%;
            mix-blend-mode: luminosity;

          }
          .gituser__stats {
            position: absolute;
            right: 7%;
            top: 15%;
            font-size: .85rem;
            width: 310px;
            padding: 3rem 2.75rem;
            overflow: hidden;
            border-radius: 50%;
            height: 310px;
            border: #131313;
            margin: 0;
            z-index: 1;
            will-change: transform;
            background: url('../../images/img4.jpg') no-repeat -430px -930px;
            box-shadow: 0px 0px 1px -1px rgba(0, 0, 0, 0.2),
            0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 7px 0px rgba(0, 0, 0, 0.12);
            p {
              margin: .5rem 0 0 0;
              padding: .5rem 0;
              font-weight: 600;
              border-bottom: 1px dashed lightgray;
              @media only screen and (min-width: 768px) {
                mix-blend-mode: multiply;
              }
              span {
                color: #9E9E9E;
                font-weight: 600;
                font-size: 1rem;
                display: inline-block;
                width: 150px;
                text-align: right;
                margin-right: .5rem;
              }
            }

          }
      }//gituser__bottom

    }//gituser__header


  }//gituser__section

}//gituser__page



header {
  &.gituser-header {
    padding-top: 0;
    border-bottom: 5px solid #eeeeee;
  }
  .topnav-container.gituser {
    flex-direction: row-reverse;
    position: initial;
    .topnav-link.goback {
      padding: 0 .35rem;
      border: 1px solid #f5f5f5;
      border-radius: 4px;
      button {
        font-size: 1rem;
        color: #fff;
        line-height: 1.85;
        cursor: pointer;
        background: transparent;
        border: none;
        cursor: pointer;
        &:hover,&:focus {
          outline: none;
        }
      }
    }
  }
}


.repos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 1rem 0;
  z-index: 0;
  background-image: url('../../images/halftone.png');
  will-change: transform;
  background-position: 1490px 530px;
  @media only screen and (min-width: 1201px) {
    padding: 5rem 0;
  }
  h2 {
    text-align: center;
    margin: 3rem 0;
    width: 100%;
    letter-spacing: .5px;
    font-size: 1.85rem;
    font-weight: 600;
    color: #ff3c00;
    -webkit-font-smoothing: antialiased;
  }
}

.gituser__pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10vh;
  margin: 3rem 0;
  .pagination__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .gp--page,.gp--arrow {
      color: rgba(0,0,0,.75);
      padding: 0 12px;
      text-decoration: none;
      transition: background-color .3s linear;
      border: 1px solid #e0e0e0;
      margin: 0 3px;
      padding: 0 10px;
      line-height: 2.75;
      font-size: .8rem;
      vertical-align: middle;
      @media only screen and (min-width: 768px) {
        padding: 8px 16px;
        line-height: 1.5;
      }
      &:hover:not(.gp--active) {
        background-color: #e5e5e5;
        border: 1px solid #dedede;
      }
    }
    .active {
      background-color: #619d9b;
        padding: 0 10px;
        line-height: 2.75;
        font-size: .8rem;
        color: white;
        border: 1px solid #498583;
      @media only screen and (min-width: 768px) {
        padding: 8px 16px;
        line-height: 1.5;
      }

    }


  }//pagination__wrapper
}//gituser__pagination


.gituser__loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  h3 {
    text-align: center;
    font-size: 2rem;
    color: #1a7a7d;
    font-style: oblique;
    font-variant: ordinal;
    font-weight: 500;
  }
  img {
    width: 100%;
    max-width: 256px;
    margin: 0 auto;
  }
}

