.repos__subheading {
  font-size: .8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #666666;
}


table {
  thead {
    tr {
      height: 75px;
      max-height: 75px;
    }
  }
  tbody {
    tr {
      height: 96px;
      max-height: 96px;
      overflow-y: auto;
    }
  }
}




.gituser__pagination {
  .pagination__wrapper {

    button {
      min-width: initial;
    }
    .dummy {
      display: none !important;
    }
    @media only screen and (min-width: 600px) {
      min-width: 510px;
      width: 510px;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      .gp-page.tally {
        min-width: 107px;
      }
      .dummy {
        display: inline-block;
        visibility: hidden;
      }
      button {
        min-width: 40px;
      }
    }
  }
}


.nopublic__repos {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
  h3 {
    text-align: center;
    color: #454245;
    font-weight: 600;
  }
}

.repos-wrapper {

  td {
    line-height: 32px !important;
    &.td__dosort {
      min-width: 160px;
      line-height: 2;
    }
    .gitorg__sort-repos {
      background-image: url('../../images/sort-arrow2.png');
      width: 25px;
      height: 26px;
      transition: transform .3s ease .5ms;
      background-position: 2px 0;
      display: inline-block;
      transform: rotate(-360deg);
      z-index: 10;
      margin-left: -7px;
      cursor: pointer;
      mix-blend-mode: color-burn;
      vertical-align: sub;

      &.down {
        background-position: 25px 4px;
        transform: rotate(720deg);
        // mix-blend-mode: hue;
        mix-blend-mode: normal;
      }
      &.up {
        mix-blend-mode: normal;
      }
    }
  }//td

}//repos-wrapper
