@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  font-family: CircularPro,appleLogo,sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color:#fbfbfb;
  color: #454245;
  width: 100%;
}

main {
  display: flex;
  flex: 1;
  min-height: calc(70vh);
}

main > #main-content {
  flex: 1;
}
main > .mainleft,
main > .mainright {
  flex: 0 0 20vw;
  background: beige;
}

footer {
  background: #ebeaeb;
  color: #454545;
  font-size: 1rem;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
  display: block;
  padding: 0;
  font-feature-settings: "pcap", "c2pc";
  font-variant: all-petite-caps;
}

#main-content, .mainleft, .mainright {
  padding: 1em;
}


